{# {% extends 'base.html.twig' %} #}

{# {% block title %}Modify Your CSV - A|L Media{% endblock %} #}

{% block body %}
<div id="download_start">
	<a href="" id="download_url" download>{{ convertedFileName }}</a>
</div>

	{% block javascripts %}
		<script src="https://sdk.amazonaws.com/js/aws-sdk-2.1176.0.min.js"></script>
		<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
		<script>
		   var initS3 = function () {
				s3 = new AWS.S3({
					accessKeyId: '{{ credentials['key']}}',
					secretAccessKey: '{{ credentials['secret']}}',
					//sessionToken: "SESSION_TOKEN", // optional you can remove if you don't want pass
					region: '{{ region }}'
				});
			};

		//$(document.ready(function () {
			//$("#download_url").trigger('click');
			let download_filename = '{{ download_filename }}';
			let filename = '{{ convertedFileName }}';
			var downloadFile = function(download_filename, filename) {
				console.log(download_filename, filename);
				var params = {
					Bucket: '{{ bucket_name }}',
					Key: download_filename,
					ResponseContentDisposition :  `attachment; filename="`+filename+`"` 
				};
				console.log(JSON.stringify(params));
			// console.log(bucket.upload(params, function (err, data) {
				//var params = {Bucket: bucketname , Key: keyfile , Expires: 3600 , ResponseContentDisposition :  `attachment; filename="filename.ext"` };
				//var url = s3.getSignedUrl('getObject', params);
				//console.log("URL:..", url);
				s3.getSignedUrl('getObject', params, function (err, data){
					if (err != null) {
						console.log("Failed to retrieve an object: " + err);
					} else {
						console.log("URL..", data);
						$("#download_url").attr({href: data});
						$("#download_url")[0].click();
					}
				});
				/*s3.getObject(params, function (error, data) {
						if (error != null) {
						console.log("Failed to retrieve an object: " + error);
						} else {
							let contentLength = data.ContentLength;
							let contentType = data.ContentType;
						console.log("Loaded " + data.ContentLength + " bytes");
						console.log("Data", data);
						console.log("Data.Body", data.Body);
						console.log("Data.ContentType", data.ContentType);
						var headers = new Headers(); // Currently empty
						headers.set('Content-Type', contentType);
						headers.set('Content-Disposition', 'attachment;filename='+filename);
						console.log(headers.get("Content-Type"));
						console.log(headers.get("Content-Disposition"));
						// do something with data.Body
						}
					}
					); */
				//); 
			};
		//}));
 initS3();
 downloadFile(download_filename, filename);
 $("#download_url").hide();

	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	{% endblock %}
	{% endblock %}