{% extends 'base.html.twig' %}

{% block title %}Modify Your CSV - A|L Media{% endblock %}

{# {% block stylesheets %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" />
<link rel="stylesheet" href="bootstrap-iconpicker/css/bootstrap-iconpicker.min.css">
{% endblock %} #}


{% block body %}

<div class="example-wrapper">
	<h1>Manage Your Large CSVs</h1>
	{# <span class="mb-4">Make CSV files easy to operate by managing them in various ways.</span> #}
	<span class="mb-4">Reorder, Rename or Delete Your CSV Columns in an easier way.</span>

	<div class="my-4">

		<div class="card my-2" style="width: 50rem;">
			<div class="card-header">
				<h5 class="float-left">Columns</h5>
			</div>
			<div class="card-body">
				<div data-role="page" id="viewInformation" data-theme="d" data-add-back-btn="true"
					data-back-btn-text="back">
					<div data-role="header" id="headerid" class="ui-bar ui-bar-b">
						{# {{ filename }} #}
						<form class="form-group" id="columnsForm">
							<ul class="list-group" id="sortable">
								{% for column in columns %}
								
								<script></script>
								<li data-role="content" class="input-group d-flex mb-3" id="contentid">
									<span class="input-group-text"><i class='fa fa-sort'></i></span>
									<input class="form-control list-group-item fs-6" style="width:90%" name="text[]" value="{{column}}"/>
									<input type="hidden" name="original_cols[]" value="{{column}}">
									<span class="input-group-text deleteCol bg-danger"><i class="fa fa-trash"></i></span>
								</li>
								{% endfor %}
								<input type="hidden" name="filename" value="{{ filename }}">
							</ul>
								<div>
									<input type="button" id="export_csv" class="btn btn-dark me-md-2" style="width:20%" value="Export CSV" formaction="{{path('app_export', {'format': 'csv'})}}">
									<input type="button" id="export_zip" class="btn btn-dark me-md-2" style="width:20%" value="Export ZIP" formaction="{{path('app_export', {'format': 'zip'})}}">
									<div id="waitingMessage" class="alert alert-info mt-4 ps-2" role="alert">
										Please wait while we prepare your file to get downloaded! It may take few minutes.
									</div>
								</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	{% block javascripts %}
		<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
		<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
		<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
	<script>
		window.onbeforeunload = function () {
    		return "";
 		};
		$(function () {
			$("#waitingMessage").hide();
			$('[type="button"]').on('click', function () {
				let btn_id = $(this).attr('id');
				if(btn_id == "export_csv") {
					$(this).attr({"value": "Exporting CSV..", "disabled": "disabled"});
					$("#export_zip").attr('disabled','disabled');
					/*$("#waitingMessage").show();
					let formaction = $(this).attr("formaction");
					$("#columnsForm").attr('action', formaction); 
					document.getElementById("columnsForm").submit(); */
				}
				else if(btn_id == "export_zip") {
					$(this).attr({"value": "Exporting ZIP..", "disabled": "disabled"});
					$("#export_csv").attr('disabled','disabled');
					/*$("#waitingMessage").show();
					let formaction = $(this).attr("formaction");
					$("#columnsForm").attr('action', formaction); 
					document.getElementById("columnsForm").submit(); */
				}
				$("#waitingMessage").show();
				let formaction = $(this).attr("formaction");
				$("#columnsForm").attr('action', formaction); 
				document.getElementById("columnsForm").submit();
			});
			$("#sortable").sortable();
		});

		// Redirect after 10 seconds on clicking Export
		{# $(document).on('submit', 'form', function() {
			$(this).find(':submit').attr('disabled','disabled');
			$("#waitingMessage").show();
		setTimeout(function() {
			window.location = "/";
		}, 100000);
		});
         #}
        $(".deleteCol").click(function(){
            if(confirm('Are you sure you want to delete this column?')) {
                console.log('Yes');
                var curr = $(this).parent().children();
                console.log(curr);
                $(this).parent().remove();
            } else {
                console.log('No');
            }
            
        });
	</script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	{% endblock %}
	{% endblock %}